/* 1- Para cambiar de posision la foto, ponerla a laderecha y el texto a la inzquierda para dispositivos grandes y para chicos que la foto se vea arriba y el texto abajo, es que usa como vemos la disposicion del display en grid y mediante distintos grid column/row es que puede cambiar el orden de distribucion de ellos.j  

2- Podemos darle al borde varias propiedades en una misma declaracion, esto se aplica en el formulario (parte de abajo del css style).
*/

:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /* Interlineado: 1.5 (base de la fuente), no es 1.5px. */
}
p {
    font-size: 1.8rem; /* 16px */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto; /* Lo usamos para centrar el contenido */
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0; /* Margen arriba y abajo, izq y der 0 */
}
/** Footer **/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}

/** Navegacion **/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;

    /* "gap": Separacion de los elementos entre si (tienda/nosotros). Podriamos sino haber usado en .navegacion__enlace un margin-rigth: 2rem pero sucederá que aplicara un margen a todos los enlaces y desbalancea el centrado. Si bien con gap esto no ocurre porque no agrega un margen en si sino que separa nada mas, si usamos margin.right tendremos que crear una clase de este elemento que quite ese margen al ultimo elemento que tendrá ese margen de mas, y se realiza de la sgte forma:

                    .navegacion__enlace:last-of-type
                    {
                        margin-right: 0;
                    }


    */ 
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Vista en 2 columnas */
    gap: 2rem; /* Usamos "gap" con un solo valor que contiene (porque es el mismo valor) tanto la columna como la fila, ademas lo usamos porque es mas corto pero podria haberse usado:
                    column-gap:2rem
                    row-gap:2rem
               */

    /*ACLARACIONES: El MediaQuery es para PC, la declaracion sin el es para tablet o celular. En todos donde usa MQ parte por la vista de dispositivos chicos a grandes.*/
}
@media (min-width: 768px) { 
    .grid {
        grid-template-columns: repeat(3, 1fr); /* Vista en 3 columnas */
    }
}

/** Productos **/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

/* Esta en el video pero no en el práctico: De igual manera el ancho es acorde a la imagen incluso resposivamente.
.producto__imagen { 
    width: 100%;
} */

.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}


/** Graficos: Es la foto grande de las 2 remeras (ocupa 2 columnas de las 3 en lg y en sm 3) **/

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;

    /* Como .grafico tiene --camisas & --node, y ambos tienen grid-column en sus clases, las borramos y las ponemos directamente en la declaracion de la clase .grafico, y lo que si sera distinto, osea los elementos, ahi si dejaremos el "grid.row" de cada uno. */
}

.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9; /* Subimos la imagen, desde la fila 8 al 9 */
}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/** Nosotros (1) **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nosotros__imagen {
       grid-column: 2 / 3;
    }
}


/** Bloques **/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}


/** Pagina del Producto **/
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {

   /* 2 */ 
   /* Sentencia de border acortada*/
   border: 1rem solid var(--primarioOscuro);

   /* De la forma larga:border: 
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    */

   background-color: transparent;
   color: var(--blanco);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;
}

/* Este codigo lo agrego porque las opciones en blanco no se llegan a ver entonces hay que pasarlo a negro. Cree clases para cada opcion que tendra el mismo color. */
.formulario__campo--1,
.formulario__campo--2,
.formulario__campo--3
{
    color: var(--negro);
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}